// out: false

@import 'variables';

/* Basic
==================== */
body {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 1.42857143;
  color: #333333;
}


/* Title region
======================== */
.page-header-big {
  box-shadow: 0px 4px 31px -10px black inset;
  float: none;
  background: #296dad;
  position: relative;
  overflow: hidden;
  color: #fff;

  h1.page-header {
    border: 0;
    font-weight: 300;
    font-family: @font;
    color: white;
    margin: 30px 0 15px;
    font-size: 41px;
    padding-bottom: 10px;
  }
}


/* Footer
=========================== */
footer {
  margin-top: 45px;
  padding-top: 35px;
  padding-bottom: 36px;
  border-top: 1px solid #E5E5E5;
}


/* App styles
======================= */
.item-user {

  .img {
    width: auto;
    height: auto;
    border-radius: 50%;
  }
}